
.container {
  padding: 20px;
}

.headerContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .headerContainer {
    flex-direction: column;
  }
}